<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">HOME</a></li>
    <li class="active">Atendimento / Retirada</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row">
      <div class="col-md-6">

          <!-- START TIMELINE FILTER -->
          <div class="panel panel-default">
              <div class="panel-body">
                  <h3>Procurar por...</h3>
                  <form class="form-horizontal" role="form">
                  <div class="form-group">

                      <div class="col-md-8">
                          <div class="input-group">
                              <span class="input-group-addon"><span class="fa fa-search"></span></span>
                              <input type="text" class="form-control" placeholder="Procurar por..."/>
                          </div>
                      </div>

                  </div>
                  <div class="form-group">
                      <div class="col-md-8">
                          <div class="btn-group btn-group-justified">
                              <a href="#" class="btn btn-primary active">OS</a>
                              <a href="#" class="btn btn-primary">Recibo</a>
                              <a href="#" class="btn btn-primary">Retirada</a>
                              <a href="#" class="btn btn-primary">Doc</a>
                              <a href="#" class="btn btn-primary">Nome</a>
                          </div>
                      </div>                      
                  </div>
                  </form>
              </div>
          </div>
          <!-- END TIMELINE FILTER -->

      </div>
    </div>
</div>
