<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">HOME</a></li>
    <li class="active">Dashboard</li>
</ul>
<!-- END BREADCRUMB -->

<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> Page Title</h2>
</div>

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">

      <div class="col-md-3">

          <!-- START WIDGET SLIDER -->
          <div class="widget widget-default widget-carousel">
              <div class="owl-carousel" id="owl-example">
                  <div>
                      <div class="widget-title">Total Visitors</div>
                      <div class="widget-subtitle">27/08/2014 15:23</div>
                      <div class="widget-int">3,548</div>
                  </div>
                  <div>
                      <div class="widget-title">Returned</div>
                      <div class="widget-subtitle">Visitors</div>
                      <div class="widget-int">1,695</div>
                  </div>
                  <div>
                      <div class="widget-title">New</div>
                      <div class="widget-subtitle">Visitors</div>
                      <div class="widget-int">1,977</div>
                  </div>
              </div>
              <div class="widget-controls">
                  <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
              </div>
          </div>
          <!-- END WIDGET SLIDER -->

      </div>


        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel Title</h3>
                </div>
                <div class="panel-body">
                    Panel body
                </div>
            </div>

        </div>
    </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->
