<!-- START PAGE SIDEBAR -->
<div class="page-sidebar">
    <!-- START X-NAVIGATION -->
    <ul class="x-navigation">
        <li class="xn-logo">
            <a href="index.html">oCtrl</a>
            <a href="#" class="x-navigation-control"></a>
        </li>
        <li class="xn-title">Menu</li>
        <li>
            <a href="index.html"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
        </li>
        <li class="xn-openable">
            <a href="#"><span class="fa fa-table"></span> <span class="xn-text">Atendimento</span></a>
            <ul>
                <li><a href="table-basic.html"><span class="fa fa-align-justify"></span> Entrada / Venda</a></li>
                <li><a href="table-datatables.html"><span class="fa fa-sort-alpha-desc"></span> Retirada / Baixa</a></li>
            </ul>
        </li>
        <li>
            <a href="index.html"><span class="fa fa-desktop"></span> <span class="xn-text">Suporte</span></a>
        </li>
        <li>
            <a href="index.html"><span class="fa fa-desktop"></span> <span class="xn-text">GeLiTe {{1+1}}</span></a>
        </li>
    </ul>
    <!-- END X-NAVIGATION -->
</div>
<!-- END PAGE SIDEBAR -->
