<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">HOME</a></li>
    <li class="active">Suporte</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row">
      <div class="col-md-6">

          <!-- START TIMELINE FILTER -->
          <div class="panel panel-default">
              <div class="panel-body">
                  <h3>Procurar por...</h3>
                  <form class="form-horizontal" role="form">
                  <div class="form-group">

                      <div class="col-md-8">
                          <div class="input-group">
                              <span class="input-group-addon"><span class="fa fa-search"></span></span>
                              <input type="text" class="form-control" placeholder="Procurar por..."/>
                          </div>
                      </div>

                  </div>
                  <div class="form-group">
                      <div class="col-md-8">
                          <div class="btn-group btn-group-justified">
                              <a href="#" class="btn btn-primary active">OS</a>
                              <a href="#" class="btn btn-primary">Recibo</a>
                              <a href="#" class="btn btn-primary">Retirada</a>
                              <a href="#" class="btn btn-primary">Doc</a>
                              <a href="#" class="btn btn-primary">Nome</a>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="pull-right">
                              <button class="btn btn-success"><span class="fa fa-refresh"></span> NOVO</button>
                          </div>
                      </div>
                  </div>
                  </form>
              </div>
          </div>
          <!-- END TIMELINE FILTER -->

      </div>
    </div>

    <div class="row">
        <div class="col-md-12">

          <div class="row">
                                  <div class="col-md-3">
                                      <!-- CONTACT ITEM -->
                                      <div class="panel panel-default">
                                          <div class="panel-body profile">
                                              <div class="profile-image">
                                                  <img src="assets/images/users/user3.jpg" alt="Nadia Ali"/>
                                              </div>
                                              <div class="profile-data">
                                                  <div class="profile-data-name">Nadia Ali</div>
                                                  <div class="profile-data-title">Singer-Songwriter</div>
                                              </div>
                                              <div class="profile-controls">
                                                  <a href="#" class="profile-control-left"><span class="fa fa-info"></span></a>
                                                  <a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>
                                              </div>
                                          </div>
                                          <div class="panel-body">
                                              <div class="contact-info">
                                                  <p><small>Mobile</small><br/>(555) 555-55-55</p>
                                                  <p><small>Email</small><br/>nadiaali@domain.com</p>
                                                  <p><small>Address</small><br/>123 45 Street San Francisco, CA, USA</p>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- END CONTACT ITEM -->
                                  </div>
                                  <div class="col-md-3">
                                      <!-- CONTACT ITEM -->
                                      <div class="panel panel-default">
                                          <div class="panel-body profile">
                                              <div class="profile-image">
                                                  <img src="assets/images/users/user.jpg" alt="Dmitry Ivaniuk"/>
                                              </div>
                                              <div class="profile-data">
                                                  <div class="profile-data-name">Dmitry Ivaniuk</div>
                                                  <div class="profile-data-title">Web Developer / UI/UX Designer</div>
                                              </div>
                                              <div class="profile-controls">
                                                  <a href="#" class="profile-control-left"><span class="fa fa-info"></span></a>
                                                  <a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>
                                              </div>
                                          </div>
                                          <div class="panel-body">
                                              <div class="contact-info">
                                                  <p><small>Mobile</small><br/>(333) 333-33-22</p>
                                                  <p><small>Email</small><br/>dmitry@domain.com</p>
                                                  <p><small>Address</small><br/>123 45 Street San Francisco, CA, USA</p>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- END CONTACT ITEM -->
                                  </div>
                                  <div class="col-md-3">
                                      <!-- CONTACT ITEM -->
                                      <div class="panel panel-default">
                                          <div class="panel-body profile">
                                              <div class="profile-image">
                                                  <img src="assets/images/users/user4.jpg" alt="Brad Pitt"/>
                                              </div>
                                              <div class="profile-data">
                                                  <div class="profile-data-name">Brad Pitt</div>
                                                  <div class="profile-data-title">Actor and Film Producer</div>
                                              </div>
                                              <div class="profile-controls">
                                                  <a href="#" class="profile-control-left"><span class="fa fa-info"></span></a>
                                                  <a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>
                                              </div>
                                          </div>
                                          <div class="panel-body">
                                              <div class="contact-info">
                                                  <p><small>Mobile</small><br/>(321) 777-55-11</p>
                                                  <p><small>Email</small><br/>brad@domain.com</p>
                                                  <p><small>Address</small><br/>123 45 Street San Francisco, CA, USA</p>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- END CONTACT ITEM -->
                                  </div>
                                  <div class="col-md-3">
                                      <!-- CONTACT ITEM -->
                                      <div class="panel panel-default">
                                          <div class="panel-body profile">
                                              <div class="profile-image">
                                                  <img src="assets/images/users/user5.jpg" alt="John Travolta"/>
                                              </div>
                                              <div class="profile-data">
                                                  <div class="profile-data-name">John Travolta</div>
                                                  <div class="profile-data-title">Actor</div>
                                              </div>
                                              <div class="profile-controls">
                                                  <a href="#" class="profile-control-left"><span class="fa fa-info"></span></a>
                                                  <a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>
                                              </div>
                                          </div>
                                          <div class="panel-body">
                                              <div class="contact-info">
                                                  <p><small>Mobile</small><br/>(111) 222-33-78</p>
                                                  <p><small>Email</small><br/>travolta@domain.com</p>
                                                  <p><small>Address</small><br/>123 45 Street San Francisco, CA, USA</p>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- END CONTACT ITEM -->
                                  </div>
                                  <div class="col-md-3">
                                      <!-- CONTACT ITEM -->
                                      <div class="panel panel-default">
                                          <div class="panel-body profile">
                                              <div class="profile-image">
                                                  <img src="assets/images/users/user6.jpg" alt="Darth Vader"/>
                                              </div>
                                              <div class="profile-data">
                                                  <div class="profile-data-name">Darth Vader</div>
                                                  <div class="profile-data-title">Cyborg</div>
                                              </div>
                                              <div class="profile-controls">
                                                  <a href="#" class="profile-control-left"><span class="fa fa-info"></span></a>
                                                  <a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>
                                              </div>
                                          </div>
                                          <div class="panel-body">
                                              <div class="contact-info">
                                                  <p><small>Mobile</small><br/>(000) 000-00-01</p>
                                                  <p><small>Email</small><br/>vader@domain.com</p>
                                                  <p><small>Address</small><br/>Somewhere deep in space</p>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- END CONTACT ITEM -->
                                  </div>
                                  <div class="col-md-3">
                                      <!-- CONTACT ITEM -->
                                      <div class="panel panel-default">
                                          <div class="panel-body profile">
                                              <div class="profile-image">
                                                  <img src="assets/images/users/user7.jpg" alt="Samuel Leroy Jackson"/>
                                              </div>
                                              <div class="profile-data">
                                                  <div class="profile-data-name">Samuel Leroy Jackson</div>
                                                  <div class="profile-data-title">Actor and film producer</div>
                                              </div>
                                              <div class="profile-controls">
                                                  <a href="#" class="profile-control-left"><span class="fa fa-info"></span></a>
                                                  <a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>
                                              </div>
                                          </div>
                                          <div class="panel-body">
                                              <div class="contact-info">
                                                  <p><small>Mobile</small><br/>(552) 221-23-25</p>
                                                  <p><small>Email</small><br/>samuel@domain.com</p>
                                                  <p><small>Address</small><br/>123 45 Street San Francisco, CA, USA</p>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- END CONTACT ITEM -->
                                  </div>
                                  <div class="col-md-3">
                                      <!-- CONTACT ITEM -->
                                      <div class="panel panel-default">
                                          <div class="panel-body profile">
                                              <div class="profile-image">
                                                  <img src="assets/images/users/reiwolf.jpg" alt="Samuel Leroy Jackson"/>
                                              </div>
                                              <div class="profile-data">
                                                  <div class="profile-data-name">Alex Sonar</div>
                                                  <div class="profile-data-title">Designer</div>
                                              </div>
                                              <div class="profile-controls">
                                                  <a href="pages-profile.html" class="profile-control-left"><span class="fa fa-info"></span></a>
                                                  <a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>
                                              </div>
                                          </div>
                                          <div class="panel-body">
                                              <div class="contact-info">
                                                  <p><small>Mobile</small><br/>(213) 428-74-13</p>
                                                  <p><small>Email</small><br/>alex@domain.com</p>
                                                  <p><small>Address</small><br/>123 45 Street San Francisco, CA, USA</p>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- END CONTACT ITEM -->
                                  </div>
                              </div>
        </div>
    </div>


</div>
